<div style="border: 2px solid green; padding 10px;">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <label for="title">Title:</label>
            <h2>{{ vm.movie.title }}</h2>
        </div>
        <div class="panel-body">
            <div>
                <label for="director">Director:</label>
                <input type="text" ng-model="vm.movie.director" name="director">
            </div>
            <div>
                <label for="director">Picture:</label>
                <img src="{{vm.movie.picture}}" type="text" ng-model="vm.movie.picture" name="picture">
            </div>
            <div>
                <label for="rating">Rating:</label>
                <input type="number" ng-model="vm.movie.rating" name="rating">
            </div>
            <div>
                <button ng-click="vm.goToDetails (vm.movie._id)" name="details">Got to details</button>
                <button ng-click="vm.goToUpdate(vm.movie._id)">go to update</button>
                <button ng-click="">delete</button>
            </div>
        </div>
    </div>
</div>
